<div class="header">
  <app-principal
    [title]="'Entrada de Estoque'"
  ></app-principal>
  <app-navigation></app-navigation>
</div>

<div class="topPrincipal"></div>

<mat-card *ngFor="let st of stockin">
    <mat-card-subtitle>{{st.dateIn | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
    <mat-card-content>{{st.product.name}} ({{st.size.name}}) - {{st.quantity}} {{st.product.unity.name}}</mat-card-content>
  
    <div style="border-top: 1px solid #E9E9E9; margin-bottom:20px; padding-top: 10px; color: rgba(7, 7, 7, 0.57)">
      <div style="float: left; width: 49%; text-align: center"><button mat-button (click)="onEdit(st.id)"><mat-icon>create</mat-icon> Editar</button></div>
      <div style="float: right; width: 49%; text-align: center"><button mat-button (click)="onDelete(st.id)"><mat-icon>delete</mat-icon> Excluir</button></div>
    </div>
</mat-card>

<span class="done">
  <button mat-fab type="button" (click)="onAdd()" color="primary" matTooltip="Novo">
    <mat-icon>add circle</mat-icon>
  </button>
</span>